*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #596e79;
    color: #fff;
}
.logo img{
    max-width: 56px;
}

/* .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
} */

.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 20px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.nav-links a:hover{
    background-color: #f0ece2;
    border-radius: 5px;
    color: #596e79;
}

.hamburger-menu span{
    width: 25px;
    height: 3px;
    background-color: #f0ece2;
    margin: 4px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    background-color: #f0ece2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 10px;
    

}
.container h1{
    margin-bottom: 40px;
    font-size: 2.2rem;
    color: #333;
}

.pyq-section{
    margin-bottom: 40px;
}

.pyq-section h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #333;
    border-left: 4px solid #596e79;
    padding-left: 5px;
}
.pyq-section ul{
    list-style: none;
}
.pyq-section ul li{
    margin: 10px 0;
}
.pyq-section ul li a{
    display: inline-block;
    text-decoration: none;
    background-color: #dfd3c3;
    color: #333;
    /* margin-left: 20px; */
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}
.pyq-section ul li a:hover{
    background-color: #596e79;
}

.about-us{
    max-width: 1200px;
    margin: 41px auto;
    padding: 25px;
    background-color: #f0ece2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.readmore-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about-us img{
    margin: 10px 10px;
    width: 40px;
}
.button{
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #dfd3c3;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: #596e79;
    color: white;
}
.about{
    display: flex;
    margin-right: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.about img{
    width: 200px;
    
}
.site-footer{
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer-content{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-nav a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
.footer-nav a:hover{
    text-decoration: underline;
}


@media (max-width:768px){
    .nav-links{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #596e79;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .nav-links li{
        margin: 15px 0;
    }
    .hamburger-menu{
        display: flex;
    }
    .navbar.active .nav-links{
        display: flex;
    }
    h1{
        font-size: 2rem;
    }
    .pyq-section h2{
        font-size: 1.5rem;
    }
    .pyq-section ul li a{
        font-size: 1rem;
        padding: 8px 15px;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
        /* align-items: center; */
        /* justify-content: center; */
    }
}
